* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 26pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

header {
    background: gradient(90deg, #383735 0%, #686a6c 100%);
    display: flex;
    width: 100%;
    height: 85px;
    position: fixed;
}

#logo {
    width: 125px;
    margin-top: 10px;
    margin-left: 20px;
}

#vertical-bar {
    background: #555;
    height: 1000px;
    width: 170px;
    position: fixed;
}

ul {
    margin-top: 50px;
}

li {
    text-align: center;
    line-height: 50px;
    font-size: 12pt;
    height: 50px;
    list-style: none;
}

li:hover {
    background-color: #636363;
}

#usuario {
    margin-top: auto;
    height: 54px;
    padding-top: 3px;
    
}

#userFirstLetter {
    margin: auto;
    color: #383735;
    background-color: #d9d9d9;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    text-align: center;
    line-height: 50px;
}

#usuario:hover {
    background-color: #686868;
}