/* margin: topo | direita | inferior | esquerda */

* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 26pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

main {
    margin: 0px 12px 0px auto;
    width: 86%;
}

#title {
    color: #000;
    background-color: #cecece;
    margin-top: 10px;
}