/* margin: topo | direita | inferior | esquerda */

* {
    margin: 0px;
    padding: 0px;
    color: rgb(5, 5, 5);
    font-size: 26pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

/* Página Inicial */

#top {
    display: flex;
}

text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16pt;
}


/* Página de Produtos */


input, select, option {
    border: 1px solid #cdcdda;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    color: #000;
    width: 920px;
    height: 30px;
}

input:focus {
    outline: 0;
}

i {
    color: black;
    background-color: #267CA0;
    font-size: 20pt;
    margin-left: -7px;
    text-align: center;
    width: 40px;
    height: 35px;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    margin-top: -80px;
}

i::before {
    line-height: 35px;
}

#input-boxes {
    display: flex;
}

select, option, .dateSelector {
    width: 290px;
}

label {
    color: #727272;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    width: 190px;
}

.allInputs {
    display: flex;
    width: 290px;
    flex-wrap: wrap;
    margin: 20px 10px 10px 10px;
}

#content {
    border: 1px solid #727272;
    border-radius: 30px;
    width: max-content;
    height: auto;
}

table, th, td {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    color: #AEAEAE;
    border: none;
}

.container {
    
}

p {
padding: 0px;
width: 250px;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

.produtoDetalhe {
    margin-top: -05px;
}

.produtoDetalhe li {
    
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    height: 23px;
}

#produtos {
    display: flex; 
}

